*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{
    width: 50%;
}

h1{
    border: 2px dashed red;
    width: 100%;
    font-size: 3rem; /*root 16 font 48*/
    padding: 0.5em;  /*parent 16 padding 8*/
}

main{
    width: 50vw; /*viewport width 50 percent (use % instead of)*/
    background-color: skyblue;
    /* relative to root rem */
    font-size: 2rem;
}

p{
    /* relative to parent em */
    font-size: 2em;
    width: 40ch; /* how many character in a line */
}

